body {
  font-family: 'Libre Baskerville', sans-serif;
  color: #325050;
  margin: 0px;
}

.file {
  text-decoration: none;
}

.file:link, .file:visited{
  color: #0d8ba1;
}

.file:hover {
  color: #0599c2;
}

h3 {
  font-family: 'Julius Sans One', sans-serif;
  color: #2e484c;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 8px;
}

p {
  margin: 0.75em 0;
  line-height: 2;
}


header {
  background-image: url(../images/huntington.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 310px;
}

h1 {
  color: #fff;
  font-size: 3.2em;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 2.5em;
  padding-top: 1.5em;
}

h1::before {
  background: url(../images/enso.svg);
  display: inline-block;
  width: 125px;
  height: 125px;
  content: "";
  background-size: 100%;
  opacity: 0.6;
  position: relative;
  top: 65px;
  margin: -65px 40px 0px 0px;
}

.tiny {
  font-weight: 200;
}

h2 {
  color: rgba(255,255,255,0.6);
  font-size: 1.6em;
  font-style: italic;
  font-weight: 400;
  padding-left: 11.4em;
}

.explore, .Steady, .hope {
  padding: 3em 4em 4em 9em;
}

#main {
  width: 66%;
  border-right: solid 1px #d9e3dc;
}

.contentinfo {
  background-image: url(../images/koi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
  padding: 96px 154px;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  text-align: center;
}

.paragraph {
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.paragraph:hover {
  text-decoration: underline;
}

footer {
  padding: 3em 10%;
  color: #fff;
  background: #134347;
  text-align: center;
}

.zen-license {
  margin: 0 3em;
}

.zen-license:link, .zen-license:visited {
  color: #607476;
}

.zen-license:hover {
  color: rgba(255, 255, 255, 0.5);
}

#sidebar1 {
  margin-bottom: 18em;
}

#sidebar1 ul {
  list-style: none;
}

#sidebar1 ul li {
  padding-bottom: 22px;
  margin-top: 22px;
  margin-left: 63px;
  border-bottom: solid 1px #d9e3dc;
}

#sidebar1 ul li a {
  text-decoration: none;
}

#sidebar1 ul li a:link,a:visited {
  color: #607476;
}

#sidebar1 ul li a:hover {
  color: #49968e;
}

#sidebar1 ul li a.design-name {
  font-size: 20px;
  font-weight: 200;
}

#sidebar1 ul li a.designer-name {
  font-size: 18px;
  font-family: serif;
}

span.gray {
  color: #c0cac3;
  font-style: italic;
}

#sidebar2 {
  font-size: 19px;
}

#sidebar2 ul {
  list-style: none;
  margin-right: 29.4%;
}

#sidebar2 ul li {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 63px;
  border-top: solid 1px #a0b9ad;
}

#sidebar2 ul .zen-translations {
  border-bottom: solid 1px #a0b9ad;
}

#sidebar2 ul li a {
  text-decoration: none;
}

#sidebar2 ul li a:link,a:visited {
  color: #607476;
}

#sidebar2 ul li a:hover {
  color: #49968e;
}

aside {
  position: absolute;
  top: 344px;
  right: 0px;
  width: 34%;
}
