body {
  font-family: 'Libre Baskerville', sans-serif;
  color: #325050;
  margin: 0px;
}

.file {
  text-decoration: none;
}

.file:link, .file:visited{
  color: #0d8ba1;
}

.file:hover {
  color: #0599c2;
}

h3 {
  font-family: 'Julius Sans One', sans-serif;
  color: #2e484c;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 8px;
}

p {
  margin: 0.75em 0;
  line-height: 2;
}

header {
  border-top: solid 10px rgba(19, 67, 71, 0.9);
  background-image: url(../images/huntington.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 310px;
}

.browse {
  position: absolute;
  top: 120px;
  right: 90px;
  background-color: rgba(255,255,255,0.1);
}

.browse:hover {
  background-color: rgba(255,255,255,0.2);
}

.browse a.all {
  display: inline-block;
  text-decoration: none;
  padding: 22px 70px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 19px;
}

.browse a.all:hover {
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 3.2em;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 2.5em;
  padding-top: 1.5em;
}

h1::before {
  background: url(../images/enso.svg);
  display: inline-block;
  width: 125px;
  height: 125px;
  content: "";
  background-size: 100%;
  opacity: 0.6;
  position: relative;
  top: 65px;
  margin: -65px 40px 0px 0px;
}

.tiny {
  font-weight: 200;
}

h2 {
  color: rgba(255,255,255,0.6);
  font-size: 1.6em;
  font-style: italic;
  font-weight: 400;
  padding-left: 11.4em;
}

.explore, .steady, .hope {
  padding: 3em 4em 4em 9em;
}

.explore1, .steady2, .hope1 {
  width: 66%;
  border-right: solid 1px #d9e3dc;
}

.steady1 {
  background-color: rgba(138,188,159,0.5);
  background-image: url(../images/bamboo.png), url(../images/contours-opaque.png),
  url(../images/gridlines-opaque.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.download {
  display: inline-block;
  text-decoration: none;
}

.download:link, .download:visited {
  color: #a9b995;
}

.download:hover {
  color: #fff;
  background-color: #3d8a9f;
}

.contentinfo {
  background-image: url(../images/koi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
  padding: 96px 154px;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  text-align: center;
}

.paragraph {
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.paragraph:hover {
  text-decoration: underline;
}

footer {
  padding: 3em 10%;
  color: #fff;
  background: #134347;
  text-align: center;
}

.zen-license {
  margin: 0 3em;
}

.zen-license:link, .zen-license:visited {
  color: #607476;
}

.zen-license:hover {
  color: rgba(255, 255, 255, 0.5);
}

#sidebar1 {
  margin-bottom: 18em;
}

#sidebar1 ul {
  list-style: none;
}

#sidebar1 ul li {
  padding-bottom: 22px;
  margin-top: 22px;
  margin-left: 63px;
  border-bottom: solid 1px #d9e3dc;
}

/*#sidebar1 ul li.verde {
  border-bottom: none;
}*/
#sidebar1 ul li.jimmy {
  border-bottom: none;
}




#sidebar1 ul li a {
  text-decoration: none;
}

#sidebar1 ul li a:link,a:visited {
  color: #607476;
}

#sidebar1 ul li a:hover {
  color: #49968e;
}

#sidebar1 ul li a.design-name {
  font-size: 20px;
  font-weight: 200;
}

#sidebar1 ul li a.designer-name {
  font-size: 18px;
  font-family: serif;
}

span.gray {
  color: #c0cac3;
  font-style: italic;
}

#sidebar2 {
  font-size: 19px;
}

#sidebar2 ul {
  list-style: none;
  margin-right: 29.4%;
}

#sidebar2 ul li {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 63px;
  border-top: solid 1px #a0b9ad;
}

#sidebar2 ul .zen-translations {
  border-bottom: solid 1px #a0b9ad;
}

#sidebar2 ul li a {
  text-decoration: none;
}

#sidebar2 ul li a:link,a:visited {
  color: #607476;
}

#sidebar2 ul li a:hover {
  color: #49968e;
}

aside {
  position: absolute;
  top: 344px;
  right: 0px;
  width: 34%;
}

@media print, screen and (max-width: 1100px) {

  body {
    font-size: 13px;
  }

  h3 {
    font-size: 20px;
  }

  header {
    height: auto;
  }

  h1 {
    font-size: 35px;
    padding-top: 0.5em;
    margin-left: 0px;
    text-align: center;
  }

  h1::before {
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 20px;
    width: 70px;
    height: 120px;
  }

  h2 {
    padding-left: 5.4em;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }

  .browse {
    position: static;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
  }

  .browse a.all {
    display: block;
    font-size: 16px;
  }

  .browse:hover {
    background-color: rgba(255,255,255,0.35);
  }

  .summary, .preamble, .explanation, .participation, .benefits {
    margin-bottom: 40px;
  }

  .summary {
    margin-top: 30px;
  }

  .participation {
    padding-top: 30px;
  }

  .benefits {
    padding-bottom: 30px;
  }

  .hope {
    margin-bottom: 30px;
  }

  .explore1, .steady2, .hope1 {
    width: 100%;
    border-right: none;
  }

  .explore, .steady, .hope {
    padding: 0 10%;
  }

  .contentinfo {
    font-size: 22px;
    padding: 2em 12%;
  }

  footer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .zen-license {
    margin: 0 2em;
  }

  aside {
    position: static;
    width: auto;
  }

  #sidebar1 {
    margin-bottom: 0px;
  }

  #sidebar1 ul {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #sidebar1 ul li {
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 22px;
  }

  #sidebar1 ul li:nth-child(2n+1) {
    float: left;
    padding-left: 5%;
  }

  #sidebar1 ul li.mid {
    margin-top: 0px;
  }

  #sidebar1 ul li:nth-child(2n) {
    background-color: #edf4f0;
    text-align: right;
    padding-right: 5%;
  }

  #sidebar1 ul li a.design-name {
    font-size: 17px;
  }

  #sidebar1 ul li a.designer-name {
    font-size: 16px;
  }

  #sidebar2 {
    font-size: 16px;
  }

  #sidebar2 ul {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }

  #sidebar2 ul li {
    margin-left: 0px;
    border-top: none;
  }
  #sidebar2 ul li.zen-translations {
    border-bottom: none;
  }

  #sidebar2 ul li:nth-child(2n+1) {
    float: left;
    padding-left: 5%;
  }

  #sidebar2 ul li:nth-child(2n) {
    text-align: right;
    border-bottom: solid 1px #a0b9ad;
    padding-right: 5%;
    background-color: rgba(138,188,159,0.5);
  }

  #sidebar2 ul li.zen-translations {
    border-bottom: solid 1px #a0b9ad;
    float: none;
  }

  #sidebar2 ul li.resources {
    border-top: solid 1px #a0b9ad;
  }

  #sidebar2 ul li.zen-translations {
    background-color: rgba(138,188,159,0.5);
  }
}

@media print, screen and (max-width: 600px) {
  h1 {
    font-size: 27px;
  }

  h1::before {
    width: 50px;
    height: 95px;
  }

  header {
    padding-top: 30px;
  }

  h2 {
    padding-left: 3.4em;
    font-size: 17px;
    margin-bottom: 1.5em;
  }

  .contentinfo {
    padding: 2em 4.3%;
  }
}

@media print, screen and (max-width: 500px) {

  h1 {
    padding-top: 0px;
  }

  h1::before {
    display: block;
    left: 44%;
    padding: 0 0 35px 0;
  }

  header {
    padding-top: 20px;
  }

  h2 {
    padding-left: 0px;
    margin-bottom: 0.4em;
  }

  .contentinfo {
    padding: 1em 4.3%;
  }

  aside #sidebar1 ul li a.design-name {
    font-size: 15px;
  }

  aside #sidebar1 ul li a.designer-name {
    font-size: 14px;
  }
  /*
  #sidebar1 ul li.jimmy {
    width: 100px;
  }*/
}
/*
#sidebar1 ul li.jimmy {
  width: 100px;
}*/
